<!-- <link rel="stylesheet" href="/css/lanstyle.css" >

<form action="/language" method="post">
  <div class="lang">
    <h1>FARM MATE</h1>
    <h4>The Complete Kisan Guide</h4>
    <select name="" id="">
      <option value="">Choose Your Language</option>
      <option value="ml">MALAYALAM</option>
      <option value="en">ENGLISH</option>
      <option value="hi">HINDI</option>
    </select>
      <button class="buton">SUBMIT</button>
    </a>
  </div>
</form> -->