
    <form action="/" method='post'>
      <div class="cont">
        <h1>FARM MATE</h1>
        <h3>The complete Kisan Guide</h3>
        <div class="cont1">
          <p>Do you have an account?</p>
          <a href="/login">LOGIN</a>
        </div>
        <div class="cont2">
          <p>Create new account?</p>
          <a href="/signup">SIGN UP</a>
        </div>
      </div>
    </form>
